################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/src/*/obj
/src/*/Properties
/test/*/obj
/test/*/Properties
/src/OIdify/bin/Debug/net8.0
/test/OIdify.Provider/bin/Debug/net8.0
